<div class="gv-slice mag-slice">
	
	
	<div class="gv-img-grid">
	{{#each monthsArr}} 
	       {{> gridPic }}
	 {{/each}} 
	</div>


	<div class="gv-slice-header">

			<div class="gv-slice-inner">
				<h3 class="slice-head">{{{Title}}} ({{{publisher}}})</h3>
				<!-- <h4 class="slice-subhead">Publisher: {{{publisher}}}, UK sales rank: {{{magRank}}}</h4> -->
				

				<!-- <p>Out of {{{coversPeopleTotal}}} covers showing a person or people: there <span class="gv-copy black">{{{strB}}}</span>; <span class="gv-copy asian">{{{strA}}}</span>; <span class="gv-copy latino">{{{strL}}}</span> and <span class="gv-copy white">{{{strW}}}</span>.</p>  -->


			</div>


		</div>


		
	


</div>