
<div class="gv-slice" id="mainView">
	<div class="gv-slice-header">
			<div class="gv-slice-inner">
				<h2>{{{Title}}}</h2>
				<h3>Publisher: {{{publisher}}}</h3>
				<p>Out of {{{coversPeopleTotal}}} showing a person or people: there are {{{coversB}}} covers featuring black people ; {{{coversA}}} with asian people ;  {{{coversL}}} with latino people and there are {{{coversW}}} with white people.</p> 
			</div>	
		</div>

	
	<div class="gv-img-grid">
	{{#each monthsArr}} 
	       {{> gridPic }}
	 {{/each}} 
	</div>
</div>
		

		<!-- <div class="gv-slice-header">
			
		</div> -->