@import "mq";
@import "fonts";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}
.gv-slice{
	margin-bottom:60px;
}
.gv-slice-inner{
	max-width: 620px;

	@include mq(leftCol){
		margin-left:160px;
	}
	
	@include mq(wide){
		margin-left:240px;
	}
}

.gv-img-grid{
	position: relative;
    margin: 0 !important;
    padding: 0 !important;
    width:100%;
    font-size: 0px !important;
}


.gv-img-holder{
	position: relative;
	display:inline-block;
  	// float: left;
    //border-bottom: 1px solid #444;
    width:60px;    
    height:80px;

    @include mq(tablet){
        width:100px;	
        height:139px;   
    }

    border:2px solid white;

    // &.white:after{
    //     content:'';
    //     position:absolute;
    //     top:5px;
    //     right:5px;
    //     width:15px;
    //     height:15px;

    //     background-color:#CCC;
        
    //  }

    //  &.black:after{
    //     content:'';
    //     position:absolute;
    //     top:5px;
    //     right:5px;
    //     width:15px;
    //     height:15px;

    //     background-color:#FFCC00;
        
    //  }
}

[class*=' sprite-']{ 
    background-image:url('<%= path %>/assets/spritesSmall.jpg'); 
    // filter: saturate(1);
    //-webkit-filter: contrast(0.8) grayscale(0.2) brightness(1.1); 
    @include mq(tablet){
        background-image:url('<%= path %>/assets/spritesLarge.jpg');  
    }

    &.white, &.no-color{
        -webkit-filter: contrast(1.2) grayscale(1) brightness(1.1); 
    }

    &:after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 94px;
        height: 133px;
        border: 3px solid white;
    }

    &.black:after, &.latino:after, &.asian:after, &.white-black:after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 94px;
        height: 133px;
        border: 3px solid red;
    }


	
}

.gv-img{
	display: block;
    position: relative;
    overflow: hidden;
    // margin:5px;
    width: 100%;
    height: 100%;
	
	background-repeat: no-repeat; 
    // &.white:before{
    // 	background: #FFF;

    	
    // }
    &.white{
    	//content:'';    	
    	// margin:5px;
    	// width: calc(100% - 10px);
    	// height: calc(100% - 10px);
        // filter: saturate(0.3);
    	background-color: #FA0;
    }   

    

     // &.white:before{
     //    content:'';
     //    position:absolute;
     //    width:10px;
     //    height:10px;
     //    background-color:#FFCC00;
     //    filter: saturate(1);
     // }
}